.container {
    display: flex;
    gap: 20px;
    height: 100%;
    flex-direction: column;
}
.container .row {
    height: 100%;
    flex: 1;
    display: flex;
    gap: 20px;
}
.container .itemWrapper {
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: var(--color-black);
    color: var(--color-gray-0);
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    min-height: 520px;
}
.container .itemWrapper .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.container .itemWrapper .header h1 {
    font-size: 20px;
    font-weight: 500;
    margin:0;
    margin-right: 12px;
}
