.container {
    display: flex;
    height: 100%;
}
.container .left {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
    height: 100%;
}
.container .right {
    flex: 1;
    height: 100%;
}
